table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 225px;
}

th, td {
    padding: 8px;
    border: 1px solid;
}

th {
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

td, th {
    font-family: Arial, sans-serif;
    font-size: 14px;
}